In [5]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns 
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 8, 4
from matplotlib.patches import Ellipse, Circle
from mpl_toolkits.mplot3d.art3d import Poly3DCollection
import mpl_toolkits.mplot3d.art3d as art3d
from mpl_toolkits.mplot3d import proj3d
from ipywidgets import interact, interactive, fixed
import pysal as py
from IPython.display import IFrame, Image, display

In [57]:
refugees = pd.read_csv('files/refugees2.csv')
refugees.head()

  Asylum_Country    Origin_Country  Year  Refugee_Total
0         Canada       Afghanistan  2013           2700
1         Canada             Libya  2013            230
2         Canada  Syrian Arab Rep.  2013            592
3        Germany       Afghanistan  2013          24203
4        Germany             Libya  2013            141

In [111]:
tidy_refugees = pd.melt(refugees, id_vars=["Origin_Country", "Year", "Asylum_Country"], value_name="Refugee_Total")
tidy_refugees.sort_values(by=['Origin_Country','Year','Asylum_Country'], inplace=True)                        
tidy_refugees.head()

    Origin_Country  Year Asylum_Country       variable  Refugee_Total
204    Afghanistan  2003         Canada  Refugee_Total          14616
207    Afghanistan  2003        Germany  Refugee_Total          46975
210    Afghanistan  2003        Lebanon  Refugee_Total             49
211    Afghanistan  2003         Sweden  Refugee_Total           3425
214    Afghanistan  2003    Switzerland  Refugee_Total           1598

In [ ]:
#The data was obtained from the website for The Office of the United Nations High Commissioner for Refugees at  
#http://data.un.org/Data.aspx?d=UNHCR&f=indID%3AType-Ref
# Refugee origin countries were Afghanistan, Libya, and Syria.
# Asylum countries chosen were Lebanon, Canada, United States, Germany, Sweden, Switzerland, and the United Kingdom
# Countries were chosen for the level of ongoing conflict 
# and comparison between countries accepting refugees on the European continent, Middle East, and North America