In [6]:
import pandas as pd
import numpy as np

## Gabi Lab One

The data in this lab is from a project run by [Katharine Suding's lab](http://www.colorado.edu/sudinglab/) in the EBIO dept. at the [Niwot Ridge Long Term Ecological Research Site](http://niwot.colorado.edu/). It is a list of the plots and plant species that they sampled across a high elevation talus landscape. At each plot, there could be 1, 2, or 3 species to sample. The goal of the sampling was to take roots from the 3 most abundant plants at each plot. But, since the sampling is destructive (digging up the plant), they did not take any plants that had less than 5 individuals in that plot. Because of this, not all plots have 3 species listed on the data sheet. Species names were listed by their 6 letter species code (the first 3 letters of their genus and first 3 letters of their species name).

![Plants](Plants.jpg)

Let's import the data and **tidy** it up!

In [17]:
data = pd.read_csv('RootProtocol.csv')
data

    Plot Species1 Species2 Species3
0      0   FESBRA   OREALP   SILACA
1      5   FESBRA   SILACA   SENFRE
2      7   CARPHA   GEUROS   FESBRA
3      9   FESBRA   CARALB   TRISPI
4     13   FESBRA   TRISPI   CIRSCO
5     18   FESBRA   SILACA   BESALP
6     20   TRISPI   SENFRE      NaN
7     22   POASPP      NaN      NaN
8     36   FESBRA   ELYSCR   LUZSPI
9     39   TRISPI   SENFRE   ELYSCR
10    43   TRISPI   SENFRE      NaN
11    47   FESBRA   ELYSCR   CIRSCO
12    48   DESCAE   CIRSCO   GENARV
13    51   FESBRA   BESALP      NaN
14    53   FESBRA      NaN      NaN
15    54   FESBRA      NaN      NaN
16    56   TRIDAS   FESBRA   GEUROS
17    57   FESBRA   ELYSCR   BESALP
18    59   FESBRA   ELYSCR   TRISPI
19    60   TRISPI   ELYSCR   FESBRA
20    61   TRISPI   FESBRA      NaN
21    62   FESBRA      NaN      NaN
22    66   FESBRA   GEUROS   CARRUP
23    69   FESBRA   TRISPI   LUZSPI
24    70   FESBRA      NaN      NaN
25    71   CARPYR   DESCAE   FESBRA
26    74   GEUROS   ERISIM   SILACA
27    75   CARALB   DESCAE   CARPYR
28    76   FESBRA      NaN      NaN
29    77   GEUROS   CARSCO   FESBRA
..   ...      ...      ...      ...
49   118   OXYDIG   STEUMB      NaN
50   119   FESBRA   TRISPI   CARPHA
51   120   TRIDAS   BISBIS   AQUCOR
52   122   ERISIM   GEUROS   DESCAE
53   123   CARPYR      NaN      NaN
54   124   TRISPI   CARPYR   CARPER
55   125   CARPHA   ANTMED   CARELY
56   126   GEUROS   ERISIM   FESBRA
57   127   MINOBT   TRISPI      NaN
58   128   BESALP   CARALB   FESBRA
59   129   FESBRA   DESCAE   ANGGRA
60   132   GEUROS   LLOSER   KOBMYO
61   133   FESBRA   KOBMYO   OREALP
62   135   FESBRA      NaN      NaN
63   136   FESBRA   TRISPI      NaN
64   137   FESBRA   TRISPI      NaN
65   139   FESBRA   TRISPI      NaN
66   141   FESBRA   UNKMLF   POASPP
67   145   OXYDIG   STEUMB      NaN
68   146   STEUMB   OXYDIG      NaN
69   147   OXYDIG   CARSPP      NaN
70   148   OXYDIG   STEUMB   SENFRE
71   149   OXYDIG      NaN      NaN
72   151   OXYDIG      NaN      NaN
73   152   OXYDIG   CARPYR      NaN
74   153   OXYDIG   STEUMB      NaN
75   154   OXYDIG      NaN      NaN
76   155   CARPYR      NaN      NaN
77   156   OXYDIG   STEUMB      NaN
78   157   CARPYR      NaN      NaN

[79 rows x 4 columns]

## What needs to change?

The species need to be organized by plot number so that each observation has a 
**Variable:** *Species Number* and **Value:** *Species Name*

In [18]:
tidy = pd.melt(data, id_vars=['Plot'], var_name='Species Number', value_name='Species Name')
tidy

     Plot Species Number Species Name
0       0       Species1       FESBRA
1       5       Species1       FESBRA
2       7       Species1       CARPHA
3       9       Species1       FESBRA
4      13       Species1       FESBRA
5      18       Species1       FESBRA
6      20       Species1       TRISPI
7      22       Species1       POASPP
8      36       Species1       FESBRA
9      39       Species1       TRISPI
10     43       Species1       TRISPI
11     47       Species1       FESBRA
12     48       Species1       DESCAE
13     51       Species1       FESBRA
14     53       Species1       FESBRA
15     54       Species1       FESBRA
16     56       Species1       TRIDAS
17     57       Species1       FESBRA
18     59       Species1       FESBRA
19     60       Species1       TRISPI
20     61       Species1       TRISPI
21     62       Species1       FESBRA
22     66       Species1       FESBRA
23     69       Species1       FESBRA
24     70       Species1       FESBRA
25     71       Species1       CARPYR
26     74       Species1       GEUROS
27     75       Species1       CARALB
28     76       Species1       FESBRA
29     77       Species1       GEUROS
..    ...            ...          ...
207   118       Species3          NaN
208   119       Species3       CARPHA
209   120       Species3       AQUCOR
210   122       Species3       DESCAE
211   123       Species3          NaN
212   124       Species3       CARPER
213   125       Species3       CARELY
214   126       Species3       FESBRA
215   127       Species3          NaN
216   128       Species3       FESBRA
217   129       Species3       ANGGRA
218   132       Species3       KOBMYO
219   133       Species3       OREALP
220   135       Species3          NaN
221   136       Species3          NaN
222   137       Species3          NaN
223   139       Species3          NaN
224   141       Species3       POASPP
225   145       Species3          NaN
226   146       Species3          NaN
227   147       Species3          NaN
228   148       Species3       SENFRE
229   149       Species3          NaN
230   151       Species3          NaN
231   152       Species3          NaN
232   153       Species3          NaN
233   154       Species3          NaN
234   155       Species3          NaN
235   156       Species3          NaN
236   157       Species3          NaN

[237 rows x 3 columns]

Now we should sort the table by Plot number

In [9]:
tidy.sort_values(by=['Plot'], inplace=True)
tidy

     Plot Species Number Species Name
0       0       Species1       FESBRA
79      0       Species2       OREALP
158     0       Species3       SILACA
1       5       Species1       FESBRA
80      5       Species2       SILACA
159     5       Species3       SENFRE
2       7       Species1       CARPHA
81      7       Species2       GEUROS
160     7       Species3       FESBRA
3       9       Species1       FESBRA
82      9       Species2       CARALB
161     9       Species3       TRISPI
4      13       Species1       FESBRA
83     13       Species2       TRISPI
162    13       Species3       CIRSCO
84     18       Species2       SILACA
163    18       Species3       BESALP
5      18       Species1       FESBRA
164    20       Species3          NaN
6      20       Species1       TRISPI
85     20       Species2       SENFRE
165    22       Species3          NaN
7      22       Species1       POASPP
86     22       Species2          NaN
166    36       Species3       LUZSPI
8      36       Species1       FESBRA
87     36       Species2       ELYSCR
167    39       Species3       ELYSCR
9      39       Species1       TRISPI
88     39       Species2       SENFRE
..    ...            ...          ...
227   147       Species3          NaN
148   147       Species2       CARSPP
69    147       Species1       OXYDIG
149   148       Species2       STEUMB
228   148       Species3       SENFRE
70    148       Species1       OXYDIG
150   149       Species2          NaN
229   149       Species3          NaN
71    149       Species1       OXYDIG
151   151       Species2          NaN
230   151       Species3          NaN
72    151       Species1       OXYDIG
152   152       Species2       CARPYR
231   152       Species3          NaN
73    152       Species1       OXYDIG
232   153       Species3          NaN
74    153       Species1       OXYDIG
153   153       Species2       STEUMB
75    154       Species1       OXYDIG
154   154       Species2          NaN
233   154       Species3          NaN
76    155       Species1       CARPYR
155   155       Species2          NaN
234   155       Species3          NaN
77    156       Species1       OXYDIG
156   156       Species2       STEUMB
235   156       Species3          NaN
78    157       Species1       CARPYR
157   157       Species2          NaN
236   157       Species3          NaN

[237 rows x 3 columns]

Now the observations are sorted by plot number and are ready for analyzation!

And here's an equation for a right triangle:

$c=sqrt(a^2+b^2)$